
 body{background-color: #858585;}
.header {
	display: flex;
	background-color: #44302F;
	padding: 20px 20px;
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .3);
	
}

.header h1>a {
	font-size: 30px;
	padding: 0 20px 0 20px;
	color: white;
text-decoration: none;
}

.header button {
	font-size: 20px;
	padding: 0 20px 0 20px;
	margin: 0 50px;
	color: white;
	background-color: #44302F;
	border: 1px solid white;
}

.header input {
	font-size: 20px;
	padding: 0 20px 0 20px;
	margin: 0 50px;
	color: #858585;
	background-color: white;
	border: 1px solid #CDC8C8;
	width: 50%;
}

.upperheader ul {
	display: flex;
	background-color: #352625;
	color: white;
	padding: 0 20px 0 20px;
	
}

.upperheader ul>li {
	padding: 2px 20px 0 20px;
}

.upperheader ul>li>a {
	text-decoration: none;
	color: white;
	
}
/* ьуйн */
.container1 {
	display: flex;
	
}

.aside {
	width: 100%;
    background-color: #E2D7AE;
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .3);

}


/* .aside ul>li{
	
    background-color: white;
    margin: 7px 20px;
    padding: 7px 20px;
    text-align: center;
} */


/* меню */

#menu1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu1 ul li {
	position: relative;
	width: 90%;
}

.tabnav {
	display: inline-block;
	width: 100%;
	 background-color: white; 
	text-decoration: none;
	font: bold 24px/50px arial;
	text-align: center;
	margin: 2% 5%;
	padding: 2% 5%;
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .3);
}


.tabnav:hover{
	background-color: #D8D8D8; 
}


#menu1 a {
	color:  #44302F;
}

#menu1 ul li:hover div {
	display: block;
	
}


#menu1 ul li div ul {
	display: flex;
	justify-content:flex-start;
	
}
#menu1 ul li div ul li ul li{width: 25%;}
#menu1 ul li div ul li ul li div{
	width: 90%;
	/* background-color: white; */
	border: 2px solid  #352625;
	padding:1%;
	left:0;
	margin:  2% 2% 2% 2% ; 
	/* height: 55vh; */
}
#menu1 ul li div ul li div img{
	width: 100%;
}

.wblock{
	position: absolute;
	left: 20vw; 
   top: 0;
   display: none;
   width: 70vw;
   background-color: white;
   border: 5px solid #352625;
  z-index: 5;
   
}
.col{
    display: flex;
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .3);
flex-direction:column;

}
.hor{
	display: flex;
	width: 100%;
	border-bottom: 3px solid #352625;
	
}
.more {
	margin: 2% auto ;

	
	width: 90%;
	height: 10vh;
	width: 100%;
	 border-top: 1px solid #352625 ;
	text-decoration: none;
	font: bold 24px/50px arial;
	text-align: center;
	margin: 0 auto;
	padding: 2% 5%;
}



	/* aside buttom */
	.aside_block{
		position: absolute;
		width: 20%;
		z-index: 6;
	}



	/* main */
.main{
	width: 90%;
	margin: 0 auto;
	background-color: white;


}

img[alt="img"]{
    width: 100%;
}
.article  {
	width: 90%;
	margin: 0 auto;
}


.article ul li div{
    border:1px solid #44302F;
    padding: 4%;
	margin: 2%;
	height: 45vh;
	
}

.col{
    display: flex;

flex-direction:column;

}
.hor{
    display: flex;
}
	/* /// */
	/*============= CAROUSEL =============*/

#carousel {
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
	width: 90%;
	clear: both;
	border-bottom: 10px solid #352625;
	margin: 0 auto;
  }
  
  .carousel-inner {
	max-height: 38rem!important;
	
  }
  
  /*---Change Carousel Transition Speed --*/
  
  .carousel-item-next,
  .carousel-item-prev
  .carousel-item.active {
	transition: transform 1.2s ease;
  }
  
  /*-- Carousel Content --*/
  
  .carousel-caption {
	position: absolute;
	top: 54%;
	transform: translateY(-50%);
	text-transform: uppercase;
  }
  
  .bg-custom {
	background-color: rgba(0, 0, 0, .4);
	color: white;
	border-radius: 1rem;
  }
  
  .carousel-caption  h1 {
	font-size: 3.8rem;
	text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
  }
  
  .border-primary {
	border-top: .2rem solid  #4981b3!important;
  }
  
  .carousel-caption  h3 {
	font-size: 2.2rem;
	text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
  }
  
  .btn-lg {
	border-radius: 0;
	text-transform: uppercase;
	font-size: 1rem;
	border-width: medium;
  }
  
  .btn-danger {
	background-color: #ac2615;
	border: .05rem solid #ac2615;
  }
  
  .btn-primary {
	background-color: #4981b3;
	border: .05rem solid #4981b3;
  }
  
  .btn-primary:hover, 
  .btn-primary:focus {
	background-color: #68a0d2!important;
	border: .05rem solid #68a0d2!important;
  }
img[alt="imgmenu"]{
	width: 100%;
}
.buy{
	width: 90%;
    margin: 0 auto;
	color: #352625;
	
	
}

.footer{
	border-top:5px solid #352625;
	background-color: wheat;
	text-align: center;
	
}
.triggered{
	border:1px solid red;
}
