/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 сент. 2020 г., 15:27:07
    Author     : Nevm PC
*/

*{
    box-sizing: border-box;
    fron-family: arial;
    margin:0;
}
h1,h2{
    color:#D8BF6D;
    fron-family: arial black;
    fron-weight: bold;
background-color:black;
}
h1>span{
    color:white;
    fron-family: arial black;
    fron-weight: bold;
}
.header1{
    
    background-color:#c45912;
        color:white;
        text-align:center;
        padding: 40px;
        line-height:1.8;
}
.block1{
    float:  left;
    margin: 20px 1vw 10px 3vw;
    
    
}

.img {
  position: absolute;
  right: 38%;
  top: 150px;
  z-index: -2;
}
.block2{
    margin: 20px 0px 10px 3vw;
    
}
.block3{
    margin: 20px 1vw 10px 5vw;
}
.textr{
   padding-top: 2px;
    text-align: right;
    font-style: italic; 
}
h3{line-break:2px};
h2{padding: 20px 0 20px 0;
    line-break:2px; }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.right{float:right;}
.botton1{
   position: absolute;
  top: 20%;
  right: 15%;
  width: 200px;
  height: 100px;
  border: 3px solid black;
  background-color: white;  
  
  }
.botton2{
 
    position: absolute;
  top: 20%;
  left: 20%;
  width: 200px;
  height: 100px;
  border: 3px solid black;
 background-color: white; }
.botton3{position: absolute;
  top: 70%;
  right: 15%;
  width: 200px;
  height: 100px;
  border: 3px solid black;
 background-color: white; }
.botton4{
    position: absolute;
  top: 70%;
  left: 20%;
  width: 200px;
  height: 100px;
  border: 3px solid black;
 background-color: white;
 
}
.fotor1{
     
   width: 444px;
    right:  35%;
    top:25%;
    position: absolute;
    border-radius: 300px;
    border-width: 4px;
    border-color: #D8BF6D;
    border-style: solid;
    
}
.background{
    position: static;
    z-index: -5;
    
    
}
.back{background-color: red;
     color:#D8BF6D;
}
.textpos{
  text-align:center;
  
 
}